.btnSubmit {
  max-width: 50px;
  margin: 55px auto 10px;
}

#dropzone-upload-component {
  width: auto !important;
  height: auto !important;
  padding: 16px;
}

.img-preview {
  height: 100px;
  width: 100px;
  margin: 5px
}

.img-inline {
  display:inline-block
}


